*{
	margin: 0;
	padding: 0;
	color:rgb(0, 0, 0);
}

nav{
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 12%;
	display: flex;
	z-index: 1;
}

.li{
	margin-left: 6%;
}

nav ul{
	float: right;
	list-style: none;
	margin-right: 200px;
	position: relative;
	text-transform: uppercase;
	opacity: 1;
}

nav ul li{
	display: inline-block;
	margin: 0 15px;
}

nav ul li a{
	color: yellow;
	text-decoration: none;
	line-height: 70px;
	font-size: 16px;
	padding: 8px 15px;
}

nav ul li a:hover{
	box-shadow: 0 0 5px #ebff33,
				0 0 5px #ebff33;
	border-radius: 20px;
	transition: .8s;
}

nav ul li a i{
  color: aqua;
}

nav ul ul{
	position: absolute;
	top: 120px;
	opacity: 0;
	visibility: hidden;
	transition: top .8s;
	border-top: 3px solid cyan;
	border-bottom: 3px solid cyan;
	margin-left: 0px;
	text-transform: none;
}

nav ul ul ul{
	border:none;
}

nav ul li:hover>ul{
	top:70px;
	opacity: .9;
	visibility: visible;
}

nav ul ul li{
	position: relative;
	margin:0px; 
	width:200px;
	float: none;
	display: list-item;
	border-bottom: 1px solid black;
}

nav ul ul li a{
	line-height: 50px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-content li{ 
  	background-color: black;
}

nav ul ul li a:hover{
	color:rgb(5, 5, 5);
	background: linear-gradient(to right, #e5ff00 0%, #e5ff00 54%);
}

.fa-plus{
	margin-left: 50px;
	font-size: 15px;
} 

.logo p{
	margin-left: 10px;
	font-size: 30px;
	color: rgba(255, 255, 0, 0.801);
	font-family: cursive;
	text-transform: uppercase;
}

.logo2{
	width: 10px;
	display: flex;
	padding-left:20px;
}

.search{ 
	margin-top: 20px;
	position: relative;
}

.search i{
	position: absolute;
	z-index: 1;
	color: white;
	width: 30px;
	height: 30px;
	font-size: 25px;
	border-radius: 20px;
	margin-left: 7px;
	margin-top: 2px
}

.search input{
	color: white;
	border-radius: 30px;
	width: 300px;
	height: 30px;
	border: none;
	padding-left: 40px;
	padding-right: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	border:1px solid;
}

/* Menu */
.main{
	display:flex ;
	margin-top: 0.5%;
}

.slideshow{ 
	width: 1000px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.3);
	margin-left: 10px ;
	z-index: -1;
	box-shadow: 3px 3px 3px yellow;
}

.weather{ 
	width: 500px;
	height: 500px;
	margin-left: 10px;
}


/* img slider */
#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #00a7ff; /* blue */
}
#logo:hover{
    color: #eef9ff; /* white */
}
#logo-s{
	color: #eef9ff; /* white */
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #00a7ff; /* blue */
}
.sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
.act{
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}
.sign a:hover{
	color: #00a7ff; /* blue */
	border-color: #00a7ff; /* blue */
}


.slider{
	position: relative;
	width: 100%;
	background: #000000; /* darckblue */
	opacity: 0.9;
}
.myslide{
	height: 500px;
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}

.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.txt{
	width: 65%;
	background-color: rgba(135, 135, 135, 0.5);
}

.txt p{
	color: #ffffff;  /*---chinh lai mau---*/
	font-family: 'Lunasima', sans-serif;
}

/* 2 */

/* javascript */
.active, .dot:hover{
	border-color: #00ff40;
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: rgba(221, 255, 0, 0.882);
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */



/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 40px;
	}
	.txt p{
		font-size: 13px;
	}

}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */

.avatar {

        position: relative;
        position: absolute;
        top: 0px;
        right: 0px;
		margin-top: 20px;
    /* Rounded border */

    /* Size */
    height: 5rem;
    width: 5rem;
}

.avatar__image {
    /* Size */
    height: 50%;
    width: 50%;
	border-radius: 50%;
}