*{ 
    margin: 0;
    padding:0; 
    box-sizing: border-box;
  }
  
  body{
    background-image: url(../images/2722135.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-60 ;
  }

  .sign-in-form .sign-in-box{ 
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
  }
  
  .sign-in-form .sign-in-box form h1{ 
    color: rgba(255, 230, 230, 0.9);
    margin: 5px;
    font-family: 'Lunasima', sans-serif;
  }
  
  .sign-in-form .sign-in-box form{ 
    width: 400px;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgb(238, 238, 238);
  }
  
  .sign-in-form .sign-in-box .header{ 
    display: flex;
    justify-content: center;
  }
  
  .sign-in-form .sign-in-box form .field{ 
    display: flex;
    justify-content: center;
  }
  
  .sign-in-form .sign-in-box form i{
    display: flex;
    color: #ffffff;
    font-size: 2em;
    margin-top: 15px;
    margin-left: 5px;
  }
  
  .sign-in-form .sign-in-box form .inp{
    margin: 10px;
    padding: 8px;
    color:rgba(0, 0, 0, 0.9);
    width: 80%;
    border : 0;
    outline: 0;
    border-bottom: 3px solid rgb(255, 230, 230);
    background: transparent;
    font-size: larger;
    font-family: 'Lunasima', sans-serif;
  }
  
  .sign-in-form .sign-in-box form .login a{
    text-decoration: none;
    font-family: 'Lunasima', sans-serif;
    color: rgb(248, 244, 244);
  }
  
  .sign-in-form .sign-in-box form .submit-box{
    display: flex;
    justify-content: center;
  }
  
  .sign-in-form .sign-in-box form .submit-box .submit input{
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Lunasima', sans-serif;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
    width: 320px;
    height: 35px;
    text-transform: uppercase;
  }

